{{define "createEventType"}}

    <!DOCTYPE html>
    <html lang="en">
    {{template "header"}}
    <body>
    {{template "navbar"}}
    <div class="container">
        <h1>Создание типа события</h1>
        <form class="form-horizontal" action='/game/{{.}}/event/create' method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <div id="legend">
                    <legend class="">Create event type</legend>
                </div>
                <div class="control-group">
                    <!-- Name -->
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
                        <p class="help-block">Please specify game type name</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Player count -->
                    <label class="control-label" for="playerCount">Player count</label>
                    <select id="playerCount" name="playerCount">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    {{template "footer"}}
    </body>
    </html>
{{end}}